
.icon-offload:before { content: '\e800'; } /* '' */
.icon-make-up-area:before { content: '\e801'; } /* '' */
.icon-cabin-area:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */
.icon-break-down-area:before { content: '\e804'; } /* '' */
.icon-history:before { content: '\e805'; } /* '' */
.icon-loading-area:before { content: '\e806'; } /* '' */
.icon-check-in-counter:before { content: '\e807'; } /* '' */
.icon-lost-and-found:before { content: '\e808'; } /* '' */
.icon-password:before { content: '\e809'; } /* '' */
.icon-pengaturan:before { content: '\e80a'; } /* '' */
.icon-star-1:before { content: '\e80b'; } /* '' */
.icon-logo-ragi:before { content: '\e80c'; } /* '' */
.icon-profile4:before { content: '\e80d'; } /* '' */
.icon-scan:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-setting:before { content: '\e810'; } /* '' */
.icon-unloading-area:before { content: '\e811'; } /* '' */
.icon-username:before { content: '\e812'; } /* '' */
.icon-baggage:before { content: '\e813'; } /* '' */
.icon-baggage-claim:before { content: '\e814'; } /* '' */
.icon-password-2:before { content: '\e815'; } /* '' */
.icon-star-2:before { content: '\e816'; } /* '' */
.icon-star-0:before { content: '\e817'; } /* '' */
.icon-bed:before { content: '\e818'; } /* '' */
.icon-chair:before { content: '\e819'; } /* '' */
.icon-down:before { content: '\e81a'; } /* '' */
.icon-down-arrow:before { content: '\e81b'; } /* '' */
.icon-go-out:before { content: '\e81c'; } /* '' */
.icon-house:before { content: '\e81d'; } /* '' */
.icon-left:before { content: '\e81e'; } /* '' */
.icon-left-arrow:before { content: '\e81f'; } /* '' */
.icon-chat:before { content: '\e820'; } /* '' */
.icon-folder:before { content: '\e821'; } /* '' */
.icon-bus:before { content: '\e822'; } /* '' */
.icon-camera:before { content: '\e823'; } /* '' */
.icon-hotel:before { content: '\e824'; } /* '' */
.icon-pasca:before { content: '\e825'; } /* '' */
.icon-othet:before { content: '\e826'; } /* '' */
.icon-pln:before { content: '\e827'; } /* '' */
.icon-pper:before { content: '\e828'; } /* '' */
.icon-edit:before { content: '\e829'; } /* '' */
.icon-password-1:before { content: '\e82a'; } /* '' */
.icon-no-restaurant:before { content: '\e82b'; } /* '' */
.icon-right:before { content: '\e82c'; } /* '' */
.icon-right-arrow:before { content: '\e82d'; } /* '' */
.icon-marker:before { content: '\e82e'; } /* '' */
.icon-eyes:before { content: '\e82f'; } /* '' */
.icon-star:before { content: '\e830'; } /* '' */
.icon-restaurant:before { content: '\e831'; } /* '' */
.icon-profile:before { content: '\e832'; } /* '' */
.icon-pdam:before { content: '\e833'; } /* '' */
.icon-pulsa:before { content: '\e834'; } /* '' */
.icon-up:before { content: '\e835'; } /* '' */
.icon-up-arrow:before { content: '\e836'; } /* '' */
.icon-train:before { content: '\e837'; } /* '' */
.icon-train-go-on:before { content: '\e838'; } /* '' */
.icon-arrive:before { content: '\e839'; } /* '' */
.icon-plane:before { content: '\e83a'; } /* '' */
.icon-tour:before { content: '\e83b'; } /* '' */
.icon-arrow:before { content: '\e83c'; } /* '' */
.icon-search-1:before { content: '\e83d'; } /* '' */
.icon-train-arrive:before { content: '\e83e'; } /* '' */
.icon-wifi:before { content: '\e83f'; } /* '' */
.icon-wallet:before { content: '\e840'; } /* '' */
.icon-avatar:before { content: '\e841'; } /* '' */
.icon-transaction:before { content: '\e842'; } /* '' */
.icon-profile-2:before { content: '\e843'; } /* '' */
.icon-asuransi-kecelakaan:before { content: '\e844'; } /* '' */
.icon-asuransi-kesehatan:before { content: '\e845'; } /* '' */
.icon-report-2:before { content: '\e846'; } /* '' */
.icon-asuransi-mobil:before { content: '\e847'; } /* '' */
.icon-asuransi-perjalanan:before { content: '\e848'; } /* '' */
.icon-asuransi-rumah:before { content: '\e849'; } /* '' */
.icon-home-2:before { content: '\e84a'; } /* '' */
.icon-report-daftar-asuransi:before { content: '\e84b'; } /* '' */
.icon-asuransi-jiwa:before { content: '\e84c'; } /* '' */
.icon-tagihan-asuransi:before { content: '\e84d'; } /* '' */
.icon-status-pembayaran:before { content: '\e84e'; } /* '' */
.icon-invoice-2:before { content: '\e84f'; } /* '' */
.icon-report-bayar-asuransi:before { content: '\e850'; } /* '' */
.icon-referral:before { content: '\e851'; } /* '' */
.icon-bonus-referensi:before { content: '\e852'; } /* '' */
.icon-discount-2:before { content: '\e853'; } /* '' */
.icon-flight-status:before { content: '\e854'; } /* '' */
.icon-kursi-tersedia:before { content: '\e855'; } /* '' */
.icon-kursi-tidak-tersedia:before { content: '\e856'; } /* '' */
.icon-flight-insurance:before { content: '\e857'; } /* '' */
.icon-fire:before { content: '\e858'; } /* '' */
.icon-info:before { content: '\e859'; } /* '' */
.icon-download:before { content: '\e85a'; } /* '' */
.icon-liquid:before { content: '\e85b'; } /* '' */
.icon-paper-1:before { content: '\e85c'; } /* '' */
.icon-paper-2:before { content: '\e85d'; } /* '' */
.icon-loading:before { content: '\e85e'; } /* '' */
.icon-plane-1:before { content: '\e85f'; } /* '' */
.icon-other-1:before { content: '\e860'; } /* '' */
.icon-other-2:before { content: '\e861'; } /* '' */
.icon-marker-1:before { content: '\e862'; } /* '' */
.icon-plane-2:before { content: '\e863'; } /* '' */
.icon-plane-3:before { content: '\e864'; } /* '' */
.icon-satelite:before { content: '\e865'; } /* '' */
.icon-sport:before { content: '\e866'; } /* '' */
.icon-plane-4:before { content: '\e867'; } /* '' */
.icon-plane-6:before { content: '\e868'; } /* '' */
.icon-profile-1:before { content: '\e869'; } /* '' */
.icon-plane-5:before { content: '\e86a'; } /* '' */
.icon-backpack:before { content: '\e86b'; } /* '' */
.icon-ticket:before { content: '\e86c'; } /* '' */
.icon-flight-calendar:before { content: '\e86d'; } /* '' */
.icon-mail:before { content: '\e86e'; } /* '' */
.icon-assistant:before { content: '\e86f'; } /* '' */
.icon-profile-3:before { content: '\e870'; } /* '' */
.icon-weight:before { content: '\e871'; } /* '' */
.icon-trash:before { content: '\e872'; } /* '' */
.icon-baggage-1:before { content: '\e873'; } /* '' */
.icon-baggage-2:before { content: '\e874'; } /* '' */
.icon-baggage-3:before { content: '\e875'; } /* '' */
.icon-baggage-4:before { content: '\e876'; } /* '' */
.icon-call-1:before { content: '\e877'; } /* '' */
.icon-call-2:before { content: '\e878'; } /* '' */
.icon-diamond:before { content: '\e879'; } /* '' */
.icon-change-language:before { content: '\e87a'; } /* '' */
.icon-discount-1:before { content: '\e87b'; } /* '' */
.icon-cart:before { content: '\e87c'; } /* '' */
.icon-clock:before { content: '\e87d'; } /* '' */
.icon-frozen-food:before { content: '\e87e'; } /* '' */
.icon-hidroponik:before { content: '\e87f'; } /* '' */
.icon-search-2:before { content: '\e880'; } /* '' */
.icon-setting-1:before { content: '\e881'; } /* '' */
.icon-biji-bijian:before { content: '\e882'; } /* '' */
.icon-back:before { content: '\e883'; } /* '' */
.icon-sayur:before { content: '\e884'; } /* '' */
.icon-buah:before { content: '\e885'; } /* '' */
.icon-organik:before { content: '\e886'; } /* '' */
.icon-lauk-pauk:before { content: '\e887'; } /* '' */
.icon-berverage:before { content: '\e888'; } /* '' */
.icon-map-2:before { content: '\e889'; } /* '' */
.icon-map-1:before { content: '\e88a'; } /* '' */
.icon-passenger-boarding:before { content: '\e88b'; } /* '' */
.icon-ptc-release-boarding:before { content: '\e88c'; } /* '' */
.icon-towing-car:before { content: '\e88d'; } /* '' */
.icon-unloading:before { content: '\e88e'; } /* '' */
.icon-ac-car:before { content: '\e88f'; } /* '' */
.icon-block-off:before { content: '\e890'; } /* '' */
.icon-block-on:before { content: '\e891'; } /* '' */
.icon-catering:before { content: '\e892'; } /* '' */
.icon-cleaning:before { content: '\e893'; } /* '' */
.icon-disembarkation:before { content: '\e894'; } /* '' */
.icon-engineer-2:before { content: '\e895'; } /* '' */
.icon-flight-docs:before { content: '\e896'; } /* '' */
.icon-gpu:before { content: '\e897'; } /* '' */
.icon-loading-1:before { content: '\e898'; } /* '' */
.icon-crew-on-board:before { content: '\e899'; } /* '' */
.icon-stairs:before { content: '\e89a'; } /* '' */
.icon-refueling:before { content: '\e89b'; } /* '' */
.icon-gtc:before { content: '\e89c'; } /* '' */
.icon-door-close:before { content: '\e89d'; } /* '' */
.icon-boarding-1:before { content: '\e89e'; } /* '' */
.icon-checkin-1:before { content: '\e89f'; } /* '' */
.icon-print-1:before { content: '\e8a0'; } /* '' */
.icon-setting-2:before { content: '\e8a1'; } /* '' */